h1, h2, h3, h4 { font-family: sans-serif; }
h1 a, h2 a, h3 a, h4 a { text-decoration: none; }
h1 { font-size: 1.5em; font-weight: normal; padding-top: .5em; border-bottom: 1px solid silver; }
h2 { font-size: 1.3em; font-weight: normal; }
h3 { font-size: 1.25em; font-weight: normal; font-style: italic; }
h4 { font-size: 1.15em; font-weight: bold; }
pre { padding-left: 1.5em; }
