h1, h2, h3, h4 { font-family: sans-serif; }
h1 { font-size: 1.4em; font-weight: normal; }
h2 { font-size: 1.2em; font-weight: normal; }
h3 { font-size: 1.1em; font-weight: normal; }
h4 { font-size: 1em; font-weight: bold; }
pre { padding-left: 1.5em; }